.card {
  border: 5px solid lavender;
  border-radius: 15px;
  box-shadow: 8px 8px 8px darkmagenta;
  color: ghostwhite;
  background-color: dimgrey;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 500px;
  display: inline-block;

}
